/* src/WineriesSwiper.css */
.gallery-section {
  width: 100%;
  padding: 2vw;
  padding-top: 11vw;
  display: flex;
  justify-content: center;
}

swiper-container {
  width: 80vw;
  height: fit-content;
}

gallery-img {
 width: 40vw;
 height: 40vw;
}

winery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}