/* src/WineriesSwiper.css */
.wineries-section {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

swiper-container {
  width: 80vw;
  height: fit-content;
  
}

swiper-slide {
 width: 100%;
 height: 100%;
}

swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}